.App {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

tr:nth-child(odd){
  background: #fff0c7;
}
th{
  background-color: whitesmoke;
}

.table {
  table-layout: fixed;
  width: 100%;
}

input, textarea, button {
  width: 100%;
}

button {
  background-color: #3F334D;
  color: #fff;
  text-transform: capitalize;
  border: none;
  padding: 5%;
  transition: background-color 1s ease-out, color 1s ease-out;
  font-weight: bold;
}

.widen {
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
